<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wind speed calculation</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Wind speed calculation</a>
            </div>
        </nav>

        <p style="margin-left: 15px; line-height: 3; font-size: 16px;">
            Расчет сделан для метеостанции с ID <b>{{ station_id }}</b>
            за период с {{ start_date.strftime('%d.%m.%Y')}} по {{ end_date.strftime('%d.%m.%Y') }}
            за месяцы №{{ selected_months }}.
        </p>

        <h2 style="margin-left: 15px;">Режимные функции скорости ветра</h2>
        <div>
            <img style="max-width: 50%;" src="data:image/png;base64,{{ image }}" />
        </div>

        <h2 style="margin-left: 15px;">Расшифровка легенды рисунка</h2>
        <div style="margin-left: 15px;">
            <table class="table">
                {% for key, value in legend_decoding_dict.items() %}
                  <tr>
                     <th> {{ key }} </th>
                     <td> {{ value }} </td>
                  </tr>
                {% endfor %}
            </table>
        </div>

        <h2 style="margin-left: 15px;">Продолжительность градаций ветра по каждому румбу, %</h2>
        <div style="margin-left: 15px;">
            {{ velocity_table.to_html(classes="table")|safe }}
        </div>

        <h2 style="margin-left: 15px;">Расчётные скорости ветра по каждому румбу обеспеченностью
            {{ storm_probability }}%, м/с</h2>
        <div style="margin-left: 15px;">
            <table class="table">
                {% for key, value in result_direction_speed.items() %}
                  <tr>
                     <th> {{ key }} </th>
                     <td> {{ value }} </td>
                  </tr>
                {% endfor %}
            </table>
        </div>

        <a href="/" class="btn btn-default" style="margin-left: 15px; margin-bottom: 50px;">На главную</a>
    </body>
</html>