<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wind speed calculation</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/my_styles.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.datepicker-ru.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/deactivate_checkboxes.js"></script>
    <script src="/static/js/activate_checkboxes.js"></script>
    <script src="/static/js/autocomplete.js"></script>

</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Wind speed calculation</a>
            </div>
        </nav>

        <form action="/calculate" method="POST">
            <div class="page-header" style="margin-left: 15px;">
                <h5>Эта программа рассчитывает скорость ветра определённой вероятности превышения
                    по каждому румбу.<br>
                    Расчёт проводится по методике, описанной в приложении 12.1
                    Пособия к СНиП 2.05.03-84 "Мосты и трубы" (ПМП-91),<br>
                    без приведения скорости ветра к условиям водной поверхности (см. формулу 12.2 ПМП-91).<br>
                    Исходный код программы находится
                    <a href="https://github.com/AndreyAD1/wind-speed-calculation">здесь</a>.
                </h5>
            </div>
            <div class="page-header" style="margin-left: 15px;">
                 <h5>Введите идентификатор метеостанции:</h5>
                 <input type="text" placeholder="WMO ID" id="station_id" name="station_id" required />
            </div>

            <div class="page-header" style="margin-left: 15px;">
                <h5>Диапазон дат:</h5>
                <label for="from"></label>
                <input type="text" style="margin-left: -5px;" placeholder="с" id="from" name="from" required />
                <label for="to"></label>
                <input type="text" placeholder="по" id="to" name="to" required />
            </div>
            <label class="radio-inline all_days" style="margin-left: 15px;">
                                                            <input type="radio" name="optradio"
                                                                   id="all_days" checked
                                                                   value="all_days">Все дни</label>
            <label class="radio-inline month" style="margin-left: 15px;">
                                                            <input type="radio" name="optradio"
                                                                   id="month" value="month">Месяц(ы)</label>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="1">Январь</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="2">Февраль</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="3">Март</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="4">Апрель</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="5">Май</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="6">Июнь</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="7">Июль</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="8">Август</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="9">Сентябрь</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="10">Октябрь</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="11">Ноябрь</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" disabled name="12">Декабрь</label>
            </div>

            <div class="page-header" style="margin-left: 15px;">
                <h5>Введите обеспеченность скорости ветра, <i>%:</i></h5>
                <input type="number" placeholder="1.0" min="0.01" max="100" step="0.01" style="width: 150px"
                       id="storm_recurrence" name="storm_recurrence" required />
            </div>
            <input type="submit" style="margin-left: 15px;" class="btn btn-default" value="Рассчитать"/>
        </form>

    </body>
</html>
