<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wind speed calculation</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        var dateFormat = "mm/dd/yy", 
        from = $( "#from" )
        .datepicker({
            defaultDate: "+1w",
            minDate: null,
            maxDate: "d",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1
        })
        .on( "change", function() {
            to.datepicker( "option", "minDate", getDate( this ) );
        }),
        to = $( "#to" )
        .datepicker({
            defaultDate: "+1w",
            minDate: null,
            maxDate: "d",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1
        })
        .on( "change", function() {
            from.datepicker( "option", "maxDate", getDate( this ) );
        }),
        month = $( "#month" )
        ;

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    });
    </script>
</head>
<body>
    <p><b>Введите идентификатор метеостанции:</b></p>
    <p>ID: <input type="text" id="weather_station" name="weather_station"></p>
    <p><b>Данные за период:</b></p>
    <label for="from">С</label>
    <input type="text" id="from" name="from">
    <label for="to">по</label>
    <input type="text" id="to" name="to">
    <p><b>Данные за:</b></p>
    <select>
        <option>все дни в периоде</option>
        <option>Январь</option>
        <option>Февраль</option>
        <option>Март</option>
        <option>Апрель</option>
        <option>Май</option>
        <option>Июнь</option>
        <option>Июль</option>
        <option>Август</option>
        <option>Сентябрь</option>
        <option>Октябрь</option>
        <option>Ноябрь</option>
        <option>Декабрь</option>
    </select>
</body>
</html>
