<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wind speed calculation</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.datepicker-ru.js"></script>
    <script>
    $.datepicker.setDefaults(
        $.extend(
            {'dateFormat':'dd.mm.yy'},
            $.datepicker.regional['ru']
        )
    );
    $( function() {
        var dateFormat = "dd.mm.yy",
        from = $( "#from" )
        .datepicker({
            dateFormat: "dd.mm.yy",
            defaultDate: "+1w",
            minDate: null,
            maxDate: "d",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            showOn: "both",
            buttonImage: "/static/img/glyphicons-46-calendar.png",
            buttonImageOnly: true,
            buttonText: "Выберите дату"
        })
        .on( "change", function() {
            to.datepicker( "option", "minDate", getDate( this ) );
        }),
        to = $( "#to" )
        .datepicker({
            dateFormat: "dd.mm.yy",
            defaultDate: "+1w",
            minDate: null,
            maxDate: "d",
            changeMonth: true,
            changeYear: true,
            numberOfMonths: 1,
            showOn: "both",
            buttonImage: "/static/img/glyphicons-46-calendar.png",
            buttonImageOnly: true,
            buttonText: "Выберите дату"
        })
        .on( "change", function() {
            from.datepicker( "option", "maxDate", getDate( this ) );
        });

        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    });
    </script>
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Wind speed calculation</a>
            </div>
            </div>
        </nav>
        <form action="/calculate" method="POST">
        <div class="container-fluid">
        <div class="page-header">
            <h5>Введите идентификатор метеостанции:</h5>
            <input id="station_id" type="text" name="station_id" />
        </div>
        <div class="page-header">
            <h5>Данные за период:</h5>
            <p><label for="from">с&nbsp;</label>
            <input type="text" id="from" name="from" />
            <label for="to">&nbsp;&nbsp;&nbsp;&nbsp;по&nbsp;</label>
            <input type="text" id="to"   name="to" /></p>
            за&nbsp;
            <select name="month" id="month">
                <option value="0">все дни в периоде</option>
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
            </select>
        </div>
        <div class="page-header">
            <h5>Введите повторяемость скорости ветра:</h5>
            <p><input type="text" name="storm_recurrence" id="storm_recurrence" /></p>
        </div>
        <div class="page-header">
            <h5>Коэффициент 1:</h5>
            <p><input type="text" name="k1" id="k1" /></p>
            <h5>Коэффициент 2:</h5>
            <p><input type="text" name="k2" id="k2" /></p>
        </div>
        <input type="submit" class="btn btn-default" value="Рассчитать"/>
        </div>
        </form>
    </body>
</html>