<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wind speed calculation</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Wind speed calculation</a>
            </div>
        </nav>

        <p style="margin-left: 15px; line-height: 3; font-size: 16px;">
            Период времени, который Вы выбрали, не содержит выбранных месяцев. Пожалуйста, исправьте Ваш запрос.
        </p>

        <a href="/" class="btn btn-default" style="margin-left: 15px; margin-bottom: 50px;">На главную</a>
    </body>
</html>